# vim: set filetype=bash :

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    if [[ -r ~/.dircolors ]]; then
      eval "$(dircolors -b ~/.dircolors)"
    else
      eval "$(dircolors -b)"
    fi
    alias ls='ls --color=auto'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

if command -v nvim &> /dev/null; then
  alias vim="nvim"
  export VISUAL="nvim"
  export EDITOR="$VISUAL"
fi


if command -v most &> /dev/null; then
  export pager='most'
else
  export pager='less'
fi

{{ if eq .chezmoi.hostname "nibor" }}
launch-sway() {
    XDG_CURRENT_DESKTOP='sway'
    sway --unsupported-gpu
}
{{ end }}
